<div class="modal modal-blur fade" id="modal-invitation" tabindex="-1" style="display: none;"
    aria-modal="true" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-status bg-info"></div>
            <div class="modal-body text-center">
                <div class="mb-3">
                    <a href="#" class="navbar-brand navbar-brand-autodark"><img src="{{ qrcode(session['credential_offer']) }}" height="300" alt=""></a>
                </div>
                {# <h3>Setting up your workspace</h3> #}
                <div class="text-secondary">DTT Profile Credential</div>
            </div>
        </div>
    </div>
</div>