{
    "@context": [
        "https://www.w3.org/2018/credentials/v1",
        "https://raw.githubusercontent.com/PatStLouis/vc-contexts/main/EmailCredential.json"
        ],
    "type": ["VerifiableCredential", "EmailCredential"], 
    "issuer": {
        "id": "did:sov:VA56jZQD1V8dvhzD6vBqP4",
        "name": "DTT Bench Platform", 
        "image": "https://www.idlab.org/wp-content/themes/idlab/favicon.png"
    }, 
    "issuanceDate": "{{ issuance_date }}", 
    "credentialSubject": {
        "email": "{{ email }}"
        }, 
    "name": "DTT User email", 
    "description": "Credential to access the Digital Trust Test Bench"
}