{% extends 'layouts/base_min.jinja' %}
{% block page %}
<div class="page-header d-print-none mb-3">
    <div class="container-xl">
        <div id="test-runtime-modal"></div>
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle mb-1">
                    <ol class="breadcrumb" aria-label="breadcrumbs">
                        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for('test_suites.index') }}">Test-Suites</a></li>
                        <li class="breadcrumb-item active" aria-current="page">VC-Test-Suite</li>
                    </ol>
                </div>
                <h2 class="page-title">VC Test Suite</h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a target="_blank" href="{{ report_url }}" class="btn btn-primary d-none d-sm-inline-block">
                        View latest report
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <form method="post" onsubmit="testRuntimeModal('Running test-suite')">
            {{ form.hidden_tag() }}
            {% include('components/test_runtime_modal.jinja') %}
            <div class="row row-cards">
                <div class="col-md-3 col-lg-3">
                    <div class="form-floating mb-3">
                        {{ form.endpoint(class="form-control", id="floating-input", autocomplete="off") }}
                        {{ form.endpoint.label(for="floating-input") }}
                    </div>
                    <div class="hr-text hr-text-center hr-text-spaceless mt-3 mb-3">OR</div>
                    <div class="form-floating mb-3">
                        {{ form.implementation(class="form-select", id="floating-input", autocomplete="off") }}
                        {{ form.implementation.label(for="floating-input") }}
                    </div>
                    <div class="hr-text hr-text-center hr-text-spaceless mt-3 mb-3">AND</div>
                    <div class="form-floating mb-3">
                        {{ form.token(class="form-control", id="floating-input", autocomplete="off") }}
                        {{ form.token.label(for="floating-input") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.proof_type(class="form-select", id="floating-input", autocomplete="off") }}
                        {{ form.proof_type.label(for="floating-input") }}
                    </div>
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="mb-3">
                        {{ form.features.label(class="form-label") }}
                        {% for feature in form.features %}
                        <label class="form-check form-switch">
                            {{ feature(class="form-check-input") }}
                            {{ feature.label(class="form-check-label") }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-report" tabindex="-1" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Latest Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><iframe allowtransparency="true" height="100%" width="100%" scr="{{ report_url }}"
                    title="Latest vc-test-suite report"></iframe>
            </div>
            <div class="modal-footer">
                {# <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}