{% extends 'layouts/base.jinja' %}
{% block page %}
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle mb-1">
                        <ol class="breadcrumb" aria-label="breadcrumbs">
                            <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{{ url_for('modules.index') }}">Modules</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">W3C</a></li>
                        </ol>
                    </div>
                    <h2 class="page-title">W3C Modules</h2>
                </div>
                <!-- Page title actions -->
                <div class="col-auto ms-auto d-print-none">
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">VC Validator</h3>
                                <p class="card-subtitle">
                                    Validate a VC data model powered by the vc-test-suite 1.0
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="{{ url_for('modules.vc_validator_v1') }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">VC-API</h3>
                                <p class="card-subtitle">
                                    Issue test credentials with our VC-API service
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="{{ url_for('modules.vc_api') }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">VC Profiler</h3>
                                <p class="card-subtitle">
                                    Extract metadata from a valid VC
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="{{ url_for('modules.vc_profiler_v1') }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                </div>
                {# <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Profile</h3>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}