{% extends 'layouts/base.jinja' %}
{% block page %}

<div class="page-wrapper">
    <div class="page-header d-print-none mb-5">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle mb-1">
                        <ol class="breadcrumb" aria-label="breadcrumbs">
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Home</a></li>
                        </ol>
                    </div>
                    <h2 class="page-title">Welcome!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-8">
                    <a href="#" class="card mb-3">
                    {# <a href="{{ url_for('main.vc_test_suite') }}" class="card mb-3"> #}
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">VC Test Suites</h3>
                                <p class="card-subtitle">
                                    Run Verifiable Credentials test-suites
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">Interop Test Harness</h3>
                                <p class="card-subtitle">
                                    Test your issuer, verifier or mobile wallet
                                </p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">Reports</h3>
                                <p class="card-subtitle">
                                    Browse reports availiable in this workspace.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                {# <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Profile</h3>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}