{#  ------------
Template for github_login Login form on a page 
For now - this form has no fields - just an action button
--------------- #}

{% extends 'layouts/base_auth.jinja' %}

{% block page %}
{# {% include 'components/login_modal.jinja' %} #}
<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a href="#" class="navbar-brand navbar-brand-autodark"><img
                src="{{ url_for('static', filename='images/logo-bil-H.png') }}" width="420" alt=""></a>
    </div>
    {# <h2 class="h2 text-center mb-4">Login</h2> #}
    {# <a href="#" class="btn btn-secondary w-100 mb-3" data-bs-toggle="modal" data-bs-target="#login-modal">
        <i class="icon bi bi-github"></i> with GitHub
    </a> #}
    <div class="text-center mb-4">
        {{ qr_presentation }}
    </div>
    <a href="{{url_for('auth.vc_login')}}" class="btn w-100 mb-3">
        <i class="icon bi bi-qr-code"></i> DIDComm
    </a>
    {% include('components/chapi_verifier.jinja') %}
    <a href="#" class="btn btn-secondary w-100 mb-3" id="requestPresentationButton">
        <i class="icon bi bi-person-vcard"></i> Chapi
    </a>
    {# {% include('components/chapi_issuer.jinja')%}
    <a href="#" class="btn btn-secondary w-100 mb-3" id="receiveCredentialButton">
        <i class="icon bi bi-person-vcard"></i> Chapi recieve
    </a> #}
    <a href="{{ url_for('auth.github_login') }}" class="btn btn-secondary w-100 mb-3">
        <i class="icon bi bi-github"></i> GitHub
    </a>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <div class="d-flex">
            <div>
                <h4 class="alert-title">{{ message['title'] }}</h4>
                <div class="text-secondary">{{ message['message'] }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="text-center text-muted mt-3">
    Don't have account yet? <a href="#" tabindex="-1" data-bs-toggle="modal" data-bs-target="#modal-signup">Sign up</a>
</div>

<div class="modal modal-blur fade" id="modal-signup" tabindex="-1" style="display: none;" aria-hidden="true"
    style="display: block;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        {% include('emails/credential_offer.jinja') %}
        {# <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Present</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
            </div>
            <div class="modal-footer">
                <a type="button" href="{{url_for('auth.vc_login')}}" class="btn btn-primary">Login</a>
            </div>
        </div> #}
    </div>
</div>
{% endblock %}