<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="msapplication-TileColor" content="">
    <meta name="theme-color" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name="description" content="Digital Trust Test Bench from the Digital Identity Laboratory of Canada">
    <meta name="canonical" content="https://bench.dtt.idlab.app">
    <meta name="twitter:image:src" content="https://bench.dtt.idlab.app">
    <meta name="twitter:site" content="@tabler_ui">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Digital Trust Test Bench from the Digital Identity Laboratory of Canada">
    <meta name="twitter:description" content="Digital Trust Test Bench from the Digital Identity Laboratory of Canada">
    <meta property="og:image" content="https://bench.dtt.idlab.app">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta property="og:site_name" content="Tabler">
    <meta property="og:type" content="object">
    <meta property="og:title" content="Digital Trust Test Bench from the Digital Identity Laboratory of Canada">
    <meta property="og:url" content="https://bench.dtt.idlab.app">
    <meta property="og:description" content="Digital Trust Test Bench from the Digital Identity Laboratory of Canada">
    <!-- CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabler.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <style>
        @import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>