{% extends 'layouts/base.jinja' %}
{% block page %}

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle mb-1">
                        <ol class="breadcrumb" aria-label="breadcrumbs">
                            <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="#">Modules</a></li>
                        </ol>
                    </div>
                    <h2 class="page-title">Modules</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">AATH</h3>
                                <p class="card-subtitle">
                                    Aries Agent Test Harness
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="#" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">W3C</h3>
                                <p class="card-subtitle">
                                    Credentials Community Group Test Suites
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="{{ url_for('modules.w3c') }}" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <div>
                                <h3 class="card-title">OpenID</h3>
                                <p class="card-subtitle">
                                    Experiment with OIDC exchanges
                                </p>
                            </div>
                            <div class="card-actions">
                                <a href="#" class="btn btn-primary">Configure</a>
                            </div>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                </div>
                {# <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Profile</h3>
                        </div>
                        <div class="card-body p-0"></div>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</div>
{% endblock %}