<script src="https://pro-7988733068804766051.frontendapi.corbado.io/auth.js"></script>
<corbado-auth project-id="pro-7988733068804766051" conditional="yes">
    <input name="username" id="corbado-username" required autocomplete="webauthn"/>
</corbado-auth>